<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SWAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9F820AB1E9E99050015E286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F820BF1E9E99050015E286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F820CA1E9E99050015E286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
